<nav class="navbar navbar-expand-lg custom-navbar px-3">
  <div class="container-fluid d-flex justify-content-between align-items-center">
    <button class="btn btn-circle me-2"><img src="" alt="Logo King of Meal"></button>

    <div class="search-wrapper mx-auto">
      <input
        type="text"
        class="form-control text-center custom-search"
        placeholder="rechercher "
      />
    </div>
    <button class="btn btn-circle ms-2 d-none d-lg-inline">
      <img
      src="assets/avatar.png"
      alt="Avatar"
      class="rounded-circle avatar-img ms-2"
    /></button>
  </div>
</nav>
