<header class="search-header">
  <div class="logo">
    <img src="/assets/baguette_logo.png" alt="Logo" class="logo-img" />
  </div>

  <div class="search-box p-input-icon-right">
    <input pInputText type="text" placeholder="Rechercher des recettes, hashtags, utilisateurs…" />
    <i class="pi pi-search"></i>
  </div>

  <div class="right-icons">
    <button pButton pRipple type="button" icon="pi pi-bell" class="p-button-rounded p-button-text p-button-plain notification-btn"></button>
    <p-avatar shape="circle" styleClass="profile-avatar" label="K" size="large"></p-avatar>
  </div>
</header>
