<div class="bg-white border-end vh-100 p-3 d-flex flex-column gap-3">
  <a routerLink="/" class="d-flex align-items-center gap-2 text-dark">
    <i class="fa-solid fa-house"></i> <span>Accueil</span>
  </a>
  <a routerLink="/explorer" class="d-flex align-items-center gap-2 text-dark">
    <i class="fa-solid fa-compass"></i> <span>Explorer</span>
  </a>
  <a routerLink="/concours" class="d-flex align-items-center gap-2 text-dark">
    <i class="fa-solid fa-trophy"></i> <span>Concours</span>
  </a>
  <a routerLink="/communaute" class="d-flex align-items-center gap-2 text-dark">
    <i class="fa-regular fa-comments"></i> <span>Communauté</span>
  </a>
  <a routerLink="/favoris" class="d-flex align-items-center gap-2 text-dark">
    <i class="fa-regular fa-bookmark"></i> <span>Favoris</span>
  </a>
  <a routerLink="/profile" class="d-flex align-items-center gap-2 text-dark">
    <i class="fa-solid fa-user"></i> <span>Profil</span>
  </a>
</div>

