<nav class="sidebar">
  <ul>
    <li>
      <i class="pi pi-home"></i>
      <span>Accueil</span>
    </li>
    <li>
      <i class="pi pi-compass"></i>
      <span>Explorer</span>
    </li>
    <li>
      <i class="pi pi-star"></i>
      <span>Concours</span>
    </li>
    <li>
      <i class="pi pi-comment"></i>
      <span>Communauté</span>
    </li>
    <li>
      <i class="pi pi-bookmark"></i>
      <span>Favoris</span>
    </li>
    <li>
      <i class="pi pi-user"></i>
      <span>Profil</span>
    </li>
  </ul>
</nav>
